/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #326ce5;
  --ifm-color-primary-dark: #2257d4;
  --ifm-color-primary-darker: #1f51c8;
  --ifm-color-primary-darkest: #1943a5;
  --ifm-color-primary-light: #4d81ea;
  --ifm-color-primary-lighter: #5a89ec;
  --ifm-color-primary-lightest: #7a9ff0;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(50, 108, 229, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #5a89ec;
  --ifm-color-primary-dark: #3d72e9;
  --ifm-color-primary-darker: #2d66e7;
  --ifm-color-primary-darkest: #1f51c8;
  --ifm-color-primary-light: #7a9ff0;
  --ifm-color-primary-lighter: #8aabf2;
  --ifm-color-primary-lightest: #b0c7f6;
  --docusaurus-highlighted-code-line-bg: rgba(90, 137, 236, 0.3);
}

.hero--primary {
  background-color: #ffffff;
  color: var(--ifm-color-primary);
}

[data-theme='dark'] .hero--primary {
  background-color: #1b1b1b;
  color: var(--ifm-color-primary-lightest);
}

.button.button--secondary {
  background-color: var(--ifm-color-primary);
  color: #ffffff;
}

[data-theme='dark']  .button.button--secondary {
  background-color: var(--ifm-color-primary);
  color: #ffffff;
  border-color: var(--ifm-color-primary);
}
